@import "tailwindcss";

@font-face {
  font-family: 'Signifier';
  src: url('/Signifier Regular Font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url('/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Signifier', sans-serif;
}

body {
  font-family: 'Helvetica-Neue', sans-serif;
}
